<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faffo.shifter">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        <activity android:name=".ui.splashscreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.faffo.shifter.ui.loginscreen.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity android:name=".ui.mainscreen.MainActivity"
            android:launchMode = "singleTask"/>

        <activity
            android:name=".ui.settingsscreen.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.mainscreen.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.mainscreen.MainActivity" />
        </activity>

    </application>

</manifest>